<div><app-header></app-header></div>
<!-- <nav>
    <a routerLink="/details2">details2</a><br>
    <a routerLink="/details3">details3</a>
  </nav> -->
<router-outlet></router-outlet>
<!-- <div class="details"><app-details></app-details></div> -->
<!-- <div class="form"><app-form></app-form></div> -->
<!-- <div class="details2"><app-details2></app-details2></div>
<div class="form2"><app-form2></app-form2></div> -->
<!-- <div class="details3"><app-details3></app-details3></div>
<div class="form3"><app-form3></app-form3></div> -->
